/* Remove default link styling */
a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

video {
  display: block;
  background: black;
}

html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Remove iOS/mobile browser default styling */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

button,
input,
textarea,
select {
  /* Remove iOS blue tint and 3D effects */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Remove default iOS styling */
  -webkit-tap-highlight-color: transparent;

  /* Remove iOS border radius */
  border-radius: 0;

  /* Inherit font */
  font-family: inherit;
  font-size: inherit;
}

/* Prevent text from being blue on mobile */
button,
a,
span,
p,
h1, h2, h3, h4, h5, h6,
div {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Allow text selection for input fields */
input,
textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

/* Remove iOS button styling and blue tint */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Remove iOS input shadows and glows */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
}

/* Remove focus blue glow on iOS */
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

/* Prevent iOS from styling phone numbers and addresses as blue links */
a[href^="tel"],
a[href^="mailto"] {
  color: inherit;
  text-decoration: none;
}
